PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "players_bref" (
"index" INTEGER,
  "Player" TEXT,
  "From" INTEGER,
  "To" INTEGER,
  "Pos" TEXT,
  "Ht" TEXT,
  "Wt" REAL,
  "Birth Date" TEXT,
  "Colleges" TEXT,
  "Player-additional" TEXT
);
INSERT INTO players_bref VALUES(0,'Alaa Abdelnaby',1991,1995,'F-C','6-10',240.0,'June 24 1968','Duke','abdelal01');
INSERT INTO players_bref VALUES(1,'Zaid Abdul-Aziz',1969,1978,'C-F','6-9',234.99999999999999999,'April 7 1946','Iowa State','abdulza01');
INSERT INTO players_bref VALUES(2,'Kareem Abdul-Jabbar',1970,1989,'C','7-2',225.0,'April 16 1947','UCLA','abdulka01');
CREATE TABLE IF NOT EXISTS "teams_bref" (
"index" INTEGER,
  "teamId" INTEGER,
  "abbreviation" TEXT,
  "teamName" TEXT,
  "simpleName" TEXT,
  "location" TEXT
, conference [TEXT]);
INSERT INTO teams_bref VALUES(0,1610612737,'ATL','Atlanta Hawks','Hawks','Atlanta','East');
INSERT INTO teams_bref VALUES(1,1610612738,'BOS','Boston Celtics','Celtics','Boston','East');
INSERT INTO teams_bref VALUES(2,1610612751,'BKN','Brooklyn Nets','Nets','Brooklyn','East');
CREATE TABLE IF NOT EXISTS "roaster_bref" (
"index" INTEGER,
  "Team" TEXT,
  "Season" INTEGER,
  "0" TEXT,
  "1" TEXT,
  "2" TEXT,
  "3" TEXT,
  "4" TEXT,
  "5" TEXT,
  "6" TEXT,
  "7" TEXT,
  "8" TEXT,
  "9" TEXT,
  "10" TEXT,
  "11" TEXT,
  "12" TEXT,
  "13" TEXT,
  "14" TEXT,
  "15" TEXT,
  "16" TEXT,
  "17" TEXT,
  "18" TEXT,
  "19" TEXT,
  "20" TEXT,
  "21" TEXT,
  "22" TEXT,
  "23" TEXT,
  "24" TEXT,
  "25" TEXT,
  "26" TEXT,
  "27" TEXT,
  "28" TEXT,
  "29" TEXT,
  "30" REAL,
  "31" REAL,
  "32" REAL,
  "33" REAL,
  "34" REAL,
  "35" REAL,
  "36" REAL
);
INSERT INTO roaster_bref VALUES(0,'ATL',2021,'Bogdan Bogdanovic','Clint Capela','John Collins','Kris Dunn','Bruno Fernando','Danilo Gallinari','Brandon Goodwin','Solomon Hill','Kevin Huerter','De''Andre Hunter','Nathan Knight','Skylar Mays','Onyeka Okongwu','Cam Reddish','Rajon Rondo','Tony Snell','Lou Williams','Trae Young',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO roaster_bref VALUES(1,'BOS',2021,'Jaylen Brown','Carsen Edwards','Tacko Fall','Evan Fournier','Javonte Green','Luke Kornet','Romeo Langford','Aaron Nesmith','Semi Ojeleye','Jabari Parker','Payton Pritchard','Marcus Smart','Jayson Tatum','Jeff Teague','Daniel Theis','Tristan Thompson','Moritz Wagner','Kemba Walker','Tremont Waters','Grant Williams','Robert Williams',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO roaster_bref VALUES(2,'BKN',2021,'LaMarcus Aldridge','Jarrett Allen','Bruce Brown','Chris Chiozza','Nic Claxton','Tyler Cook','Spencer Dinwiddie','Kevin Durant','Jeff Green','Blake Griffin','James Harden','Joe Harris','Kyrie Irving','Mike James','Alize Johnson','Tyler Johnson','DeAndre Jordan','Rodions Kurucs','Caris LeVert','Timothe Luwawu-Cabarrot','Norvel Pelle','Reggie Perry','Taurean Prince','Andre Roberson','Landry Shamet','Iman Shumpert','Noah Vonleh',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE INDEX "ix_players_bref_index"ON "players_bref" ("index");
CREATE INDEX "ix_teams_bref_index"ON "teams_bref" ("index");
CREATE INDEX "ix_roaster_bref_index"ON "roaster_bref" ("index");
COMMIT;
